.calcu-border{
    background-color: rgb(83, 83, 83);
    border-color: rgb(149, 175, 197);
    border: 10px solid rgb(172, 172, 172);
    border-radius: 30px;
    height: 410px;
    width: 290px;
}

.btn-border{
    padding-right: 5px;
    padding-left: 15px;
    margin-top: 20px;
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 300px;
    background-color: transparent;
    border: 2px solid gray;
}




.user-input{
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid rgb(109, 108, 108);
    height: 45px;
    width: 280px;
}
.input-numbers{
    background-color: rgb(119, 172, 154);
    border: none;
    border-radius: 20px;
    height: 43px;
    width: 280px;
}

.area-btn{
    display: flex;
    width: 250px;
    height: 320px;    
    justify-content: center;
    align-items: center;
}

.btn{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;   
    border: none;
}


.btn:hover{
    background-color: rgb(151, 147, 142);
    color: aqua;
    
}





.numbers-btn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}